.divSelectTipoOng {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.selectTipoOng {
    background: #FFFFFF;
    border: 2px solid #057097;
    height: 38px;
    width: 300px;
    border-radius: 0px; 
    color: #057097;
    font-weight: bold;
}